# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
.conda/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Runtime results generated later
runs/
*.avi
*.mp4

# Temporary files
*.tmp
*.swp
*.pyc
*.log
*.ppm
service_module/person_tracking/openni_color.png
service_module/person_tracking/openni_depth.png
